body {
    background-color: #4B5577;
}

/* timer */
.timer{
    position: fixed;
    top:92px;
    right:1000px;
}

span {
    position:absolute;
    color:rgb(35, 36, 43);
    font-size:30px;
    text-align:center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:#2b2b2f;
    padding-left:5px;

}

.timerot {
    position:absolute;
    scale:130%;
    padding-top:3px;
}

/* mainpanel */
.bkimg {
    padding-top:26px;
}

.grid {
    position:fixed;
    top:20%;
    left:10%;
    scale:110%;
}

.window {
    position:fixed;
    top:0;
    right:0;
    padding-top:40px;
    padding-right:1060px;
}

.window > * {
    position: absolute;
}


/* bottom bar of bait and cast button */
.bottom {
    position: fixed;
    top: 500px;
    right: 560px;
    padding: 40px;
}

.baitamt {
    padding:10px;
}


.cast {
    position: absolute; 
    cursor:pointer; 
}

.cast:hover {
    scale:1.1;
    transition: all 0.2s;
     /* content: url("assets/casthover.svg");
     display:none; */
}

/* store and collection book buttons */
.store {
    position:fixed;
    top:0;
    left:0;
    cursor:pointer;
}

.store:hover, .collection:hover{
    height: 130px;
    transition: all 0.8s;
}

.collection {
    position:fixed;
    top:100px;
    left:0;
    cursor:pointer;
}

.colol {
    position:fixed;
    top:27%;
    right:6%;
}



/* icons of sound,pause and quit */
.icons {
    position: fixed;
    top:100px;
    right:160px;
}

.icons > *{
    display:flex;
    padding:5px;
}

.sdon {
    cursor: pointer;
    padding-left:4px;
}

.sdon:hover {
    cursor: pointer;
    scale:1.1;
    padding-left:4px;
}

.mute {
    cursor: pointer;
}

.mute:hover {
    cursor: pointer;
    scale:1.1;
}

.pause {
    cursor: pointer;
    padding-left:3px;
}

.pause:hover {
    cursor: pointer;
    padding-left:3px;
    scale:1.1;
}

.logout {
    cursor: pointer;
    padding-left:5px;
    padding-top:6px;
}

.logout:hover {
    cursor: pointer;
    padding-left:5px;
    padding-top:6px;
    scale:1.1;
}


/* scorepanel */
.score {
    position: fixed;
    top: 40px;
    right: 150px;
}

.scorepanel {
    padding:50px;
}

/* inventory */
.collapsible {
    position:fixed;
    top:230px;
    right:200px;
}

/* .collapsible > *{
    position:relative;
} */

.ivbt {
    cursor:pointer;
}

.contentbox {
    padding-top:7px;
    z-index:-1;
}

.collapsible .contentbox {
    display:none;
}

.collapsible.active .contentbox {
    display:block; 
}

.container2 {
    position:fixed;
    top:270px;
    overflow:auto;
    height:280px;
    width:190px;

}

.image2 {
    max-width: 38px;
    padding: 5% 5% 5% 5%;
}


.storect {
    position:fixed;
    height:450px;
    width:659px;
    top: 20%;
    left: 15%;
    scale:110%;
    padding:40px;
}

.upgraderod {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.rod {
    max-width:120px;
}

.rightcol {
    padding-top:20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* .leftinright > *{
    scale:110%;
} */

.rodl1 {
    scale:110%;
    padding-bottom:8px;
}

.regularrod {
    padding-bottom:20px;
}

.time {
    padding-right:20px;
}

.upgrade {
    padding-top:55px;
    scale:110%;
    padding-right:150px;
    cursor:pointer;
}

.bucket {
    max-width:120px;
}


.upgradebucket {
    padding-top:15px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.bucketright {
    padding-top:10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hold {
    padding-top:20px;
}

.upgrade:hover {
    scale:115%;
}