body { 
    max-width: 100%; 
    margin:auto;
}

pre {
    display:none;
}

.featured-story {
    display:none;
}

.story-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.story-list article {
    margin: 2rem 0;
}

.story-list article > :first-child {
    margin-top: 0px;
}

.story-list article > :last-child {
    margin-bottom: 0px;
}

.story-list li:last-child hr{
    display:none;
}

img{
    margin: 10px 0px 10px 0px;
    border-radius: 8px;
    transition: all 0.01s ease;
}

.story-list h2{
    margin:0;
    font-weight:600;
}

.container a{
    color: inherit;
    text-decoration: none;
    transition: all 0.01s ease;
}

a .story-title{
    transition: all 0.01s ease;
}


.desc{
    color:#2a2a2a;
    font-family:"helvetica neue";
    font-weight:300;
    transition: all 0.01s ease;
}

.content{
    color:#808080;
    font-family:"helvetica neue";
    font-weight:200;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: all 0.01s ease;
}

.source{
    color:#808080;
    font-family:"helvetica neue";
    font-weight:200;
    transition: all 0.01s ease;
}

.story{
    list-style: none;
    margin-bottom: 1%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    padding: 36px;
    background: linear-gradient(
     white, white 50%, #333 30%, rgb(68, 69, 73)
     );
     transition: all 0.2s ease;
     background-size: 100% 200%;
    /* animation: down-bump 0.4s ease; */
}

.placeholder{
    list-style: none;
    margin-bottom: 1%;
    padding: 36px;
}


hr{
    margin-top:2rem;
}
