<!DOCTYPE HTML>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/all.css" rel="stylesheet">
</head>

<body>
    <!-- <div class="everything"> -->
    <!-- background image and outline -->
      <div class="background">
          <img src="assets/backimg.svg" class="bkimg">
          <img src="assets/outline.svg" class="outline">
      </div>

      <div class="bottom">
        <img src="assets/baitamt.svg" class="baitamt">
        <img src="assets/cast.svg" class="cast">
        <img src="assets/casthover.svg" class="csthv">
      </div>


      <div class="icons">
        <img src="assets/sdon.svg" class="sdon">
        <img src="assets/logout.svg" class="logout">
        <img src="assets/pause.svg" class="pause">
      </div>

      <div class="score">
        <img src="assets/scorpn.svg" class="scorepanel">

      </div>


      <div class="timer">
        <span id="timer"></span>
    </div>

    <div class="collapsible">
      <img src="assets/invtbutton.svg" class="ivbt">
      <div class="contentbox">
        <img src="assets/invtbox.svg" class="ivbox">
      </div>
    </div>
 

    <!-- </div> -->

    
    <!-- <img src="soundon" onclick="this.src='mute'"> -->

    <div></div>


  <script src="js/timer.js"></script>
  <script src="js/invt.js"></script>
  <script src="js/hover.js"></script>
</body>

</html>
