
body { 
    max-width: 360px; 
    margin: auto; 
}

pre {
    display:none;
}

.featured-story {
    display: none;
}

h1 {
    color: rgb(73, 73, 73);
  }

p {
    border: 2px solid powderblue;
}

