body {
    background-color: #4B5577;
}

/* timer */
.timer{
    color:rgb(245, 245, 245);
    font-size:30px;
    text-align:center;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color:#eaeaea;
    position: fixed;
    top:40px;
    right:0;
    padding-right: 146px;
    padding-top: 90px;
}

.bkimg {
    padding-top:26px;
}

.grid {
    position:fixed;
    top:20%;
    left:10%;
    scale:110%;
}

.window {
    position:fixed;
    top:0;
    right:0;
    padding-top:40px;
    padding-right:960px;
}

.window > * {
    position: absolute;
}


/* bottom bar of bait and cast button */
.bottom {
    position: fixed;
    top: 500px;
    right: 460px;
    padding: 40px;
}

.baitamt {
    padding:10px;
}

.cast {
    cursor:pointer;
    padding:10px;
}

.csthv {  
    cursor:pointer;
    display: none;
}

.cast:hover {
    scale:110%;
    transition: all 0.2s;
}

/* store and collection book buttons */
.store {
    position:fixed;
    top:0;
    left:0;
    cursor:pointer;
}

.store:hover, .collection:hover{
    height: 130px;
    transition: all 0.8s;
}

.collection {
    position:fixed;
    top:100px;
    left:0;
    cursor:pointer;
}


/* icons of sound,pause and quit */
.icons {
    position: fixed;
    top:100px;
    right:60px;
}

.icons > *{
    display:flex;
    padding:5px;
}

.sdon {
    /* top: 45px;
    left: 596px; */
    cursor: pointer;
}

.mute {
    /* top: 45px;
    left: 596px; */
    cursor: pointer;
}

.pause {
    /* top: 75px;
    left: 599px; */
    cursor: pointer;
    padding-left:2px;
}

.logout {
    /* top: 104px;
    left: 599px; */
    cursor: pointer;
}


/* scorepanel */
.score {
    top: 40px;
    right: 50px;
    position: fixed;
}

.scorepanel {
    padding:50px;
}

/* inventory */
.collapsible {
    position:fixed;
    top:230px;
    right:100px;
}

.collapsible > *{
    position:relative;
}

.ivbt {
    cursor:pointer;
}

.contentbox {
    padding-top:7px;
}

.collapsible .contentbox {
    display:none;
}

.collapsible.active .contentbox {
    display:block;  
}